# Python関連
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.pdm-build/

# SAM関連
.aws-sam/
samconfig.toml
packaged.yaml

# 依存関係
vendor/

# 環境変数
.env
.env.*

# エディタ関連
.idea/
.vscode/
*.swp
*.swo
*~

# OS関連
.DS_Store
Thumbs.db
